<h2>{{ title }}</h2>
<mat-grid-list cols="2" rowHeight="4:3" gutterSize="2em" *ngIf="movies">
  <mat-grid-tile *ngFor="let movie of movies">
    <mat-card class="movie-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ movie.title }}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{ movie.image }}" alt="{{ movie.title}}">
      <mat-card-content>
        <p>{{ movie.description }}</p>
      </mat-card-content>
      <mat-card-actions *ngIf="movie.categories">
        <button mat-button *ngFor="let category of movie.categories" (click)="btnClicked(category._links.self.href)">{{ category.name }}</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
